<section class="home__projects">
    <article>
        <a class="projects__mainInfo" href="https://angular.dev/" target="_blank">
            <figure><img class="projects__img img__animation" src="../../../assets/images/project-1.jpeg" alt="">
            </figure>
            <div class="projects__textContainer">
                <h2>CRM reservas hostelería</h2>
                <p>Destacan la gestión de reservas, creación de espacios, turnos, menús y registro de reseñas.
                    Desarrollo
                    basado
                    en metodología “Scrum”. </p>
            </div>
        </a>
        <div class="projects__infoExtra">
            <a href="https://github.com/AndresPLS" target="_blank">Ver código &#8599;</a>
            <ul>
                <li>#Angular</li>
                <li>#NodeJS</li>
                <li>#ExpressJS</li>
                <li>#MySQL</li>
                <li>#Bootstrap</li>
            </ul>
        </div>
    </article>
    <article>
        <a class="projects__mainInfo">
            <figure> <img class="projects__img img__animation" src="../../../assets/images/project-2.jpeg" alt="">
            </figure>
            <div class="projects__textContainer">
                <h2>IA Chat Bot Nutricionista</h2>
                <p>Destacan la gestión de reservas, creación de espacios, turnos, menús y registro de reseñas.
                    Desarrollo
                    basado
                    en metodología “Scrum”. </p>
            </div>
        </a>
        <div class="projects__infoExtra">
            <ul>
                <li>#Angular</li>
                <li>#NodeJS</li>
                <li>#ExpressJS</li>
                <li>#MySQL</li>
                <li>#Bootstrap</li>
            </ul>
            <a href="https://github.com/AndresPLS" target="_blank">Ver código &#8599;</a>
        </div>
    </article>
</section>