<section class="home__projects">
    <article>
        <figure><img class="projects__img" src="../../../assets/images/project-1.jpeg" alt=""></figure>
        <h2>CRM reservas hostelería</h2>
        <p>Destacan la gestión de reservas, creación de espacios, turnos, menús y registro de reseñas. Desarrollo basado
            en metodología “Scrum”. </p>
        <ul>
            <li>#Angular</li>
            <li>#NodeJS</li>
            <li>#ExpressJS</li>
            <li>#MySQL</li>
            <li>#Bootstrap</li>
        </ul>
        <a href="https://github.com/AndresPLS" target="_blank">Ver código &#8599;</a>
    </article>
    <article>
        <figure> <img class="projects__img" src="../../../assets/images/project-2.jpeg" alt=""></figure>
        <h2>CRM reservas hostelería</h2>
        <p>Destacan la gestión de reservas, creación de espacios, turnos, menús y registro de reseñas. Desarrollo basado
            en metodología “Scrum”. </p>
        <ul>
            <li>#Angular</li>
            <li>#NodeJS</li>
            <li>#ExpressJS</li>
            <li>#MySQL</li>
            <li>#Bootstrap</li>
        </ul>
        <a href="https://github.com/AndresPLS" target="_blank">Ver código &#8599;</a>
    </article>
</section>