<div class="nav__container">
    <ul>
        <li routerLink="/" routerLinkActive="active">Andrés Polo</li>
        <li routerLink="/home" routerLinkActive="active">Imagen</li>
        <li>Trabajando en Madrid</li>
    </ul>


    <ul>
        <li><a href="https://drive.google.com/file/d/10OXPBzUZjqQu7_kafp0kE6AfxaClc6XV/view?usp=sharing"
                target="_blank">CV</a></li>
        <li><a href="https://github.com/AndresPLS" target="_blank">Git Hub</a></li>
        <li><a href="https://linkedin.com/in/apls" target="_blank">LinkedIn</a></li>
        <li routerLink="/work" routerLinkActive="active">Trabajos</li>
        <li routerLink="/contact" routerLinkActive="active">Contacto</li>
    </ul>
</div>