.home__hero {
    display: flex;
    flex-direction: column;
    padding: 7rem 0 5rem 0;
    color: var(--main-color);
}



.hero__about {
    width: 50vw;
    font-size: 1.3rem;
    font-weight: 100;
    line-height: 1.6rem;
    margin-top: 1rem;
    width: 48vw;
}


.section__title {
    width: 70vw;
    transform: translateX(-10px);


}