<section>
    <article class="skills__knowledge">
        <div>
            <h2>Conocimientos</h2>
        </div>
        <div>
            <ul class="skills__bubbleList">
                <li><a class="skills__bubble" href="https://angular.dev/" target="_blank" rel="external"> Angular </a>
                </li>
                <li><a class="skills__bubble" href="https://nodejs.org/en/about" target="_top">NodeJS</a></li>
                <li><a class="skills__bubble" href="https://expressjs.com/" target="_blank">ExpressJS</a></li>
                <li><a class="skills__bubble" href="https://www.mongodb.com/es" target="_blank">Mongo DB</a></li>
                <li><a class="skills__bubble" href="https://www.mysql.com/" target="_blank">MySQL</a></li>
                <li><a class="skills__bubble" href="https://git-scm.com/" target="_blank">Git</a></li>
                <li><a class="skills__bubble" href="https://developer.mozilla.org/es/docs/Web/JavaScript"
                        target="_blank">JavaScript</a></li>
                <li><a class="skills__bubble" href="https://www.typescriptlang.org/" target="_blank">TypeScript</a></li>
                <li><a class="skills__bubble" href="https://tailwindcss.com/" target="_blank">Tailwind CSS</a></li>
                <li><a class="skills__bubble" href="https://getbootstrap.com/" target="_blank">Bootstrap</a></li>
                <li><a class="skills__bubble" href="https://en.bem.info/methodology/" target="_blank">BEM</a></li>
                <li><a class="skills__bubble" href="https://www.scrum.org/learning-series/what-is-scrum/"
                        target="_blank">SCRUM</a></li>
            </ul>
        </div>
    </article>

    <article class="skills__aptitudes">
        <div>
            <h2>Aptitudes</h2>
        </div>
        <div>
            <ul class="skills__nameList">
                <li class="skills__name">Diseño</li>
                <li class="skills__name">Análisis</li>
                <li class="skills__name">Sistematización</li>
                <li class="skills__name">Autoaprendizaje</li>
                <li class="skills__name">Curiosidad</li>
            </ul>
        </div>
    </article>

</section>