@font-face {
    font-family: 'Favorit';
    src: url('./fonts/ABCFavorit-Light.woff')format("woff");

    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Favorit';
    src: url('./fonts/ABCFavorit-Book.woff')format("woff");

    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Favorit';
    src: url('./fonts/ABCFavorit-Regular.woff')format("woff");

    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Favorit';
    src: url('./fonts/ABCFavorit-Medium.woff')format("woff");

    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Favorit';
    src: url('./fonts/ABCFavorit-Bold.woff')format("woff");

    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Favorit MONO */

@font-face {
    font-family: 'Favorit Mono';
    src: url('./fonts/ABCFavoritMono-Light.woff2')format("woff2");

    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Favorit Mono';
    src: url('./fonts/ABCFavoritMono-Book.woff2')format("woff2");

    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Favorit Mono';
    src: url('./fonts/ABCFavoritMono-Regular.woff2')format("woff2");

    font-weight: 300;
    font-style: normal;
    font-display: swap;
}









@font-face {
    font-family: 'Roobert';
    src: url('./fonts/Roobert/Roobert-Light.woff2')format("woff2");

    font-weight: 100;
    font-style: normal;
    font-display: swap;

    font-feature-settings: "ss04", "ss09", "ss11";
}

@font-face {
    font-family: 'Roobert';
    src: url('./fonts/Roobert/Roobert-Regular.woff2')format("woff2");

    font-weight: 200;
    font-style: normal;
    font-display: swap;

    font-feature-settings: "ss04", "ss09", "ss11";
}

@font-face {
    font-family: 'Roobert';
    src: url('./fonts/Roobert/Roobert-Medium.woff2')format("woff2");

    font-weight: 300;
    font-style: normal;
    font-display: swap;

    font-feature-settings: "ss04", "ss09", "ss11";
}

@font-face {
    font-family: 'Roobert';
    src: url('./fonts/Roobert/Roobert-SemiBold.woff2')format("woff2");

    font-weight: 400;
    font-style: normal;
    font-display: swap;

    font-feature-settings: "ss04", "ss09", "ss11";
}

@font-face {
    font-family: 'Roobert';
    src: url('./fonts/Roobert/Roobert-Bold.woff2')format("woff2");

    font-weight: 500;
    font-style: normal;
    font-display: swap;

    font-feature-settings: "ss04", "ss09", "ss11";
}


/* Roobert MONO */


@font-face {
    font-family: 'Roobert Mono';
    src: url('./fonts/Roobert/RoobertSemiMono-Light.woff2')format("woff2");

    font-weight: 100;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: 'Roobert Mono';
    src: url('./fonts/Roobert/RoobertSemiMono-Regular.woff2')format("woff2");

    font-weight: 200;
    font-style: normal;
    font-display: swap;


}