@import url('./assets/fonts.css');



:root {


    /* Typography */
    --main-font: 'Roobert', sans-serif;
    --secondary-font: 'Roobert Mono', serif;
    --joker-font: sans-serif;

    /* Colors */
    --main-color: #002A94;
    --secondary-color: #0df04a;
    --third-color: #6788DE;

    --bg-color: #FCFCFD;

    --red-delete: #ae1313;
    --edit-color: #ffc800;

    --white: #ffffff;
    --grey-90: #E4E4E6;
    --grey-80: #CACACE;
    --grey-70: #AFB0B6;
    --grey-50: #797C86;
    --dark-grey: #808080;

    --black: #131316;
    --dark-20: #2F2F37;
    --dark-30: #474752;

    /* Spaces */
    --main-padding: 0.9rem;
    --double-padding: calc(var(--main-padding) * 2);

    /* Contents */
    --main-b-radius: 0.9rem;


}





/* Clases Globales */

/* GENERALES */
html {
    font-size: 16px;
    font-size: var(--font-size, 16px)
}

body {

    min-height: 100vh;
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.4;
    color: var(--black);
    background-color: var(--bg-color);
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::selection {
    background: var(--secondary-color);
}

header {
    position: fixed;
    width: calc(100vw - var(--double-padding));
    margin: 0 auto;
    z-index: 1;
}


.page__wrapper {
    padding: var(--main-padding);
}

.section__title {
    width: 70vw;
    margin-bottom: 0;
    font-size: 10rem;
    letter-spacing: -0.5rem;
    line-height: 8.3rem;
    color: var(--main-color);
    text-wrap: balance;
    transform: translateX(-10px);
}

.text__container {
    width: 100vw;
    margin: 0 auto;
}



/* NAVBAR */


.nav__container {
    display: flex;
    justify-content: space-between;


    & ul {
        display: flex;
        list-style: none;
        padding-left: 0;

    }
}

.nav__container ul {
    gap: 0.4rem;
}



.nav__bubble {
    color: var(--white);
    background-color: var(--main-color);
    padding: 0.36rem 1.5rem 0.4rem 1.5rem;
    border-radius: var(--main-b-radius);
    transition: 0.3s;

    &:hover {
        cursor: pointer;
        background-color: var(--secondary-color);
    }
}

.nav__bigBubble {
    display: flex;
    background-color: var(--main-color);
    border-radius: var(--main-b-radius);

    &:hover {

        & .nav__cv {
            background-color: var(--main-color);
            color: var(--white);
        }

    }
}

.nav__nameBubble {
    font-weight: 400;
    color: var(--main-color);
    background-color: var(--grey-90);
    padding: 0.36rem 1.5rem 0.4rem 1.5rem;
    border-radius: var(--main-b-radius);
    transition: 0.3s;
    cursor: pointer;

}

.nav__bigBubble .nav__cv {
    color: var(--main-color);
    background-color: var(--secondary-color);
    padding: 0.36rem 1.5rem 0.4rem 1.5rem;
    border-radius: 0.8rem;
    transition: 0.3s;

    &:hover {
        cursor: pointer;
        background-color: var(--third-color);
    }
}

.nav__image {
    height: 100%;
    color: var(--main-color);
    background-color: var(--secondary-color);
    width: 36px;
    border-radius: var(--main-b-radius);
    transition: 0.3s;
    background-image: url(./assets/images/andres_polo_developer.jpg);
    background-size: cover;

    &:hover {
        cursor: pointer;
        background-color: var(--third-color);
    }
}


.nav__workIn {
    color: var(--dark-20);
    background-color: var(--grey-90);
    padding: 0.36rem 1.3rem 0.4rem 1.5rem;
    border-radius: var(--main-b-radius);
    transition: 0.3s;

}


/* FOOTERS */

.footer__info {
    display: flex;
    justify-content: space-between;
}




/* //////////// */
/* Clases Bootstrap Editadas */

.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0;
    --bs-navbar-color: rgba(var(--bs-emphasis-color-rgb), 0.65);
    --bs-navbar-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.8);
    --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
    --bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-brand-padding-y: 0.3125rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 1.25rem;
    --bs-navbar-brand-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-brand-hover-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-nav-link-padding-x: 0.5rem;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.75rem;
    --bs-navbar-toggler-font-size: 1.25rem;
    --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0.15);
    --bs-navbar-toggler-border-radius: var(--bs-border-radius);
    --bs-navbar-toggler-focus-width: 0.25rem;
    --bs-navbar-toggler-transition: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}


.navbar-nav {
    display: table;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-toggler {
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    background-color: transparent;
    border: 0 solid;
    border-radius: 0;
    transition: none;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

/* MEDIA QUERYS */


@media (width <=75rem) {
    :root {
        --font-size: 15px;
    }

}

@media (width <=64rem) {
    :root {
        --font-size: 14px;
    }

}

@media (width <=56rem) {
    .text__container {
        width: 70vw;
        margin: 0 auto;
    }
}

@media (width <=48rem) {
    .text__container {
        width: 80vw;
        margin: 0 auto;
    }
}

@media (width <=37.5rem) {
    .text__container {
        width: 83vw;
        margin: 0 auto;
    }
}