@import url('./assets/fonts.css');



:root {


    /* Typography */
    --main-font: 'Favorit', sans-serif;
    --secondary-font: 'Favorit Mono', serif;
    --joker-font: sans-serif;


    /* Colors */
    --main-color: #002A94;
    --secondary-color: #0BF43E;
    --third-color: #6788DE;

    --bg-color: #FCFCFD;

    --red-delete: #ae1313;
    --edit-color: #ffc800;

    --white: #ffffff;
    --grey-90: #E4E4E6;
    --dark-grey: #808080;

    --black: #121212;

    /* Spaces */
    --main-padding: 0.9rem;
    --double-padding: calc(var(--main-padding) * 2);

    /* Contents */
    --main-B-Radius: 0.9rem;


}





/* Clases Globales */

/* GENERALES */
html {
    font-size: 16px;
}

body {

    min-height: 100vh;
    font-size: 1rem;
    font-weight: 300;
    font-family: var(--main-font);
    color: var(--negro);
    background-color: var(--bg-color);
    line-height: 1.3em;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page__wrapper {
    padding: var(--main-padding);
}

.section__title {
    font-size: 4rem;
    letter-spacing: -0.1rem;
    line-height: 3.8rem;
    color: var(--main-color);
    text-wrap: balance;
}




/* FOOTERS */

.footer__info {
    display: flex;
    justify-content: space-between;
}




/* //////////// */
/* Clases Bootstrap Editadas */




/* MEDIA QUERYS */


@media (max-width: 75rem) {}

@media (max-width: 64rem) {}

@media (max-width: 48rem) {}

@media (max-width: 30rem) {}